
html {
  overflow-y: scroll;
}

.sidebar a {
    color: #5bc0de;
    text-decoration: none;
}

.sidebar .active {
  background-color: #D5DBD8;
}

.sidebar .active > a {
    color: #2B2828;
    text-decoration: none;
}

.main {
    padding-top: 10px;
    padding-left: 24px;
}


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #2B2828;
  }
}
